{% extends 'AppRegistro/index.html' %}

{% load static %}

{% block titulo %}
    <h1 class="text-white font-weight-bold">Buscar usuario</h1>
{% endblock %}

{% block botones %}
    <p class="text-white-75 mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim autem vero temporibus possimus, eligendi consequatur, magni voluptatem rem odio aperiam pariatur inventore. Illum, inventore molestias. Neque quasi vel atque quo.</p>
    <a class="btn btn-primary btn-xl" href="{% url 'Inicio' %}">Volver al inicio</a>
    <a class="btn btn-primary btn-xl" href="{% url 'Registrarse' %}">Registrarse</a>
{% endblock %}

{% block formulario %}
<div class="container">
    <form action="/AppPerfiles/buscar/" method="GET">
        <div class="col-3 mb-3 mt-3">
            <label class="form-label">Nombre</label>
            <input type="text" name="nombre" class="form-control" id="nombre">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</div>
{% endblock %}