{% extends 'AppRegistro/index.html' %}

{% load static %}

{% block formulario %}
<div class="container">
    <form>
        <fieldset>
        <legend>Buscar usuario</legend>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Email</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="Ingresá el email del usuario">
        </div>
        <div class="mb-3">
            <label for="disabledSelect" class="form-label">Seleccioná un tipo de usuario</label>
            <select id="disabledSelect" class="form-select">
            <option>Usuario</option>
            <option>Admin</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
        </fieldset>
    </form>
</div>
{% endblock %}