{% extends 'AppRegistro/index.html' %}

{% load static %}

{% block titulo %}
    <h1 class="text-white font-weight-bold">Buscar usuario</h1>
{% endblock %}

{% block botones %}
    <p class="text-white-75 mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim autem vero temporibus possimus, eligendi consequatur, magni voluptatem rem odio aperiam pariatur inventore. Illum, inventore molestias. Neque quasi vel atque quo.</p>
    <a class="btn btn-primary btn-xl" href="{% url 'Inicio' %}">Volver al inicio</a>
    <a class="btn btn-primary btn-xl" href="{% url 'Registrarse' %}">Registrarse</a>
    <a class="btn btn-primary btn-xl" href="{% url 'Login' %}">Iniciar sesión</a>
{% endblock %}

{% block resultadoBusqueda %}

    <div class="container mt-3">

        <h2>Resultado de la búsqueda:</h2>

        {% if usuarios or redactores or suscriptores %}

            <ul>
                {% for u in usuarios %}
                    <li>Nombre: {{u.nombre}}</li>
                    <li>Apellido: {{u.apellido}}</li>
                    <li>Usuario: {{u.nombreUsuario}}</li>
                    <li>Es admin: {{u.esAdmin}}</li>
                    <button>
                        <a href="{% url 'Eliminar Usuario' u.id%}">Eliminar</a> 
                    </button>
                    <button>
                        <a href="{% url 'Editar Usuario' u.id%}">Editar</a> 
                    </button>
                {% endfor %}
            </ul>
            <ul>
                {% for r in redactores %}
                    <li>Nombre: {{r.nombre}}</li>
                    <li>Apellido: {{r.apellido}}</li>
                    <li>Profesion: {{r.profesion}}</li>
                    <li>Tipo de ususario: redactor</li>
                    <button>
                        <a href="{% url 'Eliminar Usuario' r.id%}">Eliminar</a> 
                    </button>
                    <button>
                        <a href="{% url 'Editar Usuario' r.id%}">Editar</a> 
                    </button>
                {% endfor %}
            </ul>
            <ul>
                {% for s in suscriptores %}
                    <li>Nombre: {{s.nombre}}</li>
                    <li>Apellido: {{s.apellido}}</li>
                    <li>Profesion: {{s.profesion}}</li>
                    <li>Tipo de ususario: suscriptor</li>
                    <button>
                        <a href="{% url 'Eliminar Usuario' s.id%}">Eliminar</a> 
                    </button>
                    <button>
                        <a href="{% url 'Editar Usuario' s.id%}">Editar</a> 
                    </button>
                {% endfor %}
            </ul>

        {% else %}
            <p>No se encontró usuario</p>
        {% endif %}  
    </div>
{% endblock %}