{% extends "AppRegistro/index.html" %}

{% load static %}

{% block titulo %}
    <h1 class="text-white font-weight-bold">¡Registrate como usuario y accedé a increíbles beneficios!</h1>
{% endblock %}

{% block botones %}
    <p class="text-white-75 mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim autem vero temporibus possimus, eligendi consequatur, magni voluptatem rem odio aperiam pariatur inventore. Illum, inventore molestias. Neque quasi vel atque quo.</p>
    <a class="btn btn-primary btn-xl" href="{% url 'Inicio' %}">Volver al inicio</a>
    <a class="btn btn-primary btn-xl" href="{% url 'Registrarse' %}">Cambiar registro</a>
{% endblock %}

{% block formulario %}
<div class="container">
    <form action="/AppRegistro/registroUsuario" method="POST"> {% csrf_token %}
        
        <div class="col-3 mb-3 mt-3">
            <table class="table">
                {{ miFormulario.as_table }}
            </table>
        </div>
        
        <input type="submit" value="Registrarse">
        
    </form>
</div>
{% endblock %}