{% extends "AppRegistro/index.html" %}

{% load static %}


{% block titulo %}
    <h1 class="text-white font-weight-bold">¡Seleccioná el tipo de usuario!</h1>
{% endblock %}

{% block botones %}
<div class="container">
    <a class="btn btn-primary btn-xl" href="{% url 'Usuario' %}">Usuario</a>
    <a class="btn btn-primary btn-xl" href="{% url 'Redactor' %}">Redactor</a>
    <a class="btn btn-primary btn-xl" href="{% url 'Suscriptor' %}">Suscriptor</a>
    <a class="btn btn-primary btn-xl" href="{% url 'Register' %}">Administrador</a>
</div>
{% endblock %}